<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbx" connectionString="server=localhost;user id=root;password=32706;database=gip;allowuservariables=True;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>